<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<script language="javascript">
		setTimeout(function(){
		   window.location.reload(1);
		}, 30000);
		</script>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="routes/login.js"></script>
  </head>
  <body>
    <div class="box">
		<div class="form">
			<h1>Login</h1>
			<form action="/login" method="post">
				<div class="inputBox">
				<input type="text" name="username"  id="username" required>
		        <span>Username</span>
				<i></i>
				</div>
				<div class="inputBox">
				<input type="password" name="password"  id="password" required>
				<span>Password</span>
				<i></i>
			    </div>
				<div class="link">
				<p> <%- notice %></p>
			    </div>
				<input type="submit" value="Login">
			</form>
		</div>
	</div>
  </body>
</html>
